.blog-preview
{
      padding: 10px 16px;
      margin: 20px 0;
      border-bottom: 1px solid blue;
}

.blog-preview:hover{
      box-shadow: 1px 3px 5px black;
}

.blog-preview h2{
      font-size: 30px;
      color:darkgreen;
      margin-bottom: 8px;
}

.blog-preview button{
      padding: 10px;
      background-color: skyblue;
      border-radius: 5px;
}

.blog-preview button:hover{
      background-color: red;
}