.navbar
{
      max-width:800px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      border-bottom: 2px solid rgb(15, 222, 22);
}

.navbar .links
{
      display: flex;
      align-items: center;
}

.links a{
      margin: 10px;
      text-decoration: none;
      color: black;
      padding: 10px;
}

.links a:hover
{
      border: 2px solid red;
      border-radius: 10px;
      background-color: red;
}